@charset "UTF-8";
/* PAGINA HOME */
h2 {
  text-align: center;
}

/* Banner */
.banner {
  width: 100%;
  padding: 0%, auto;
}

/* Carrousel de imagenes de estudio */
.local {
  display: -ms-grid;
  display: grid;
}

.local__texto {
  height: 150px;
  text-align: center;
  padding-top: 100px;
}

.local__carrousel {
  font-size: 20px;
  font-style: italic;
}

.local__carrousel--text {
  color: black;
  background-color: white;
  opacity: 0.75;
  border-radius: 25px;
}

.container2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr;
      grid-template-columns: 3fr;
  -ms-grid-rows: 0.5fr 2.3fr;
      grid-template-rows: 0.5fr 2.3fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
      grid-template-areas: "local__texto" "local__carrousel";
  margin-bottom: 20%;
}

.local__texto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: local__texto;
}

.local__carrousel {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: local__carrousel;
}

/* DIVISION */
.division__cuadrado {
  background-color: white;
  margin-bottom: 20%;
  height: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imagen1 imagen2 imagen3";
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  /* Imagenes de la division */
}

.division__cuadrado-imagen {
  width: 100%;
  padding: 0%, auto;
}

/* Cada cuadrado de la division */
.division__cuadrado-1, .division__cuadrado-2, .division__cuadrado-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  color: #6D6875;
  font-size: 2.5vw;
}

/* Mixin para imagenes de elementos */
/* GRID DE IMG ELEMENTOS  */
.elementos {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "imagen1 imagen1 imagen2 imagen2" "imagen1 imagen1 imagen3 imagen3" "imagen4 imagen4 imagen5 imagen5";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  border: solid 30px white;
  margin-bottom: 10%;
  /* Imagenes de elementos */
}

.elementos__imagen-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imagen1;
  margin: 2px;
  overflow: hidden;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /* Animacion */
}

.elementos__imagen-1:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 300;
}

.elementos__imagen-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: imagen2;
  margin: 2px;
  overflow: hidden;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /* Animacion */
}

.elementos__imagen-2:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 300;
}

.elementos__imagen-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: imagen3;
  margin: 2px;
  overflow: hidden;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /* Animacion */
}

.elementos__imagen-3:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 300;
}

.elementos__imagen-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: imagen4;
  margin: 2px;
  overflow: hidden;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /* Animacion */
}

.elementos__imagen-4:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 300;
}

.elementos__imagen-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: imagen5;
  margin: 2px;
  overflow: hidden;
  -webkit-filter: sepia(80%);
          filter: sepia(80%);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /* Animacion */
}

.elementos__imagen-5:hover {
  -webkit-filter: sepia(0);
          filter: sepia(0);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 300;
}

/* Border para imagenes */
.imagenElementos {
  border: solid 3px white;
}

/* PAGINA PILATES */
.pilates__grupo1, .pilates__grupo2 {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pilates__grupo1--imagen1 {
  width: 100%;
  border-radius: 25px;
}

.pilates__grupo1--texto1 {
  background: #E5989B;
  border-radius: 0px 25px 25px 0px;
  padding: 10%;
  margin-top: 20%;
  text-align: justify;
}

.pilates__grupo2--texto2 {
  background: #E5989B;
  border-radius: 25px 0px 0px 25px;
  padding: 10%;
  margin-top: 20%;
  text-align: justify;
}

.pilates__grupo2--imagen2 {
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10%;
}

/* PAGINA BENEFICIOS */
.beneficios__grupo1 {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beneficios__grupo2 {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.beneficios__grupo1--foto, .beneficios__grupo2--foto {
  width: 100%;
  border-radius: 25%;
}

.beneficios__grupo2--foto {
  margin-bottom: 10%;
}

.beneficios__grupo1--texto, .beneficios__grupo2--texto {
  font-style: normal;
  font-weight: normal;
  margin-top: 10%;
  margin-bottom: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

/* PAGINA CONTACTO */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
}

.contacto__formulario--leyenda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* color:#E5989B; */
}

.contacto__mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20%;
  margin-bottom: 10%;
}

.contacto__mapa--leyenda {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Formulario */
.formulario {
  color: #6D6875;
}

.formulario__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDE0D4;
}

.formulario__card--name {
  color: red;
}

.formulario__card--opciones {
  margin-top: 2%;
}

.formulario__boton {
  background-color: #E5989B;
  border: solid 2px #EDE0D4;
}

.formulario__boton:hover {
  background-color: #6D6875;
  border: solid 2px #6D6875;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6D6875;
  width: 100%;
}

.navbar__logo {
  width: 75px;
  height: 25;
  margin-left: 5%;
  border-radius: 50%;
}

.navbar__boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar__boton--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid #EDE0D4;
  padding: 3px;
  border-radius: 15px;
  color: black;
  background-color: #EDE0D4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2%;
}

.navbar__boton--home:hover {
  border: solid #EDE0D4;
  background-color: #6D6875;
  /* text-transform: uppercase; */
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #6D6875;
  color: #EDE0D4;
}

.footer__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.iconoFooter {
  width: 35px;
}

/* MAPAS, SE IMPORTO EN: -BASICOS */
/* MAPA para tamaño de letra */
/* MAPA para tipo de letra */
body {
  background-color: #EDE0D4;
  font-family: "Raleway";
  font-size: 20px;
}

li, a {
  list-style: none;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */