/* PAGINA BENEFICIOS */
    
    .beneficios__grupo1{
        margin-top: 10%;
        display: flex;
        align-items: center;
    }

    .beneficios__grupo2{
        margin-top: 10%;
        display: flex;
        align-items: center;
    }


    
    .beneficios__grupo1--foto{
    width: 100%;
    border-radius: 25%;
    }

    .beneficios__grupo2--foto{
        @extend .beneficios__grupo1--foto;
        margin-bottom: 10%;
    }
    
    .beneficios__grupo1--texto{
    font-style: normal;
    font-weight: normal;
    margin-top: 10%;
    margin-bottom: 20%;
    align-items: center;
    text-align: justify;
    }
    
    .beneficios__grupo2--texto{
        @extend .beneficios__grupo1--texto;
    }