/* PAGINA HOME */
#logo{
    width: 75px;;
    height:25 ;
}

#banner{
margin-left: 25%;
margin-right: 25%;
width: 650px;;
padding:0%, auto;}

/* PAGINA PILATES */
.textoPilates1{
    margin-top: 20%;
}

/* PAGINA BENEFICIOS */
.pilatesFoto2{
width: 412px;
height: 412px;
left: 110px;
top: 185px;
border-radius: 50%;
}

/* PAGINA CONTACTO */
.formulario{
    padding-left: 25%;
    padding-right: 25%
}